<div class="rotate-wrapper">
  <div class="animation-container">
    <ng-container *ngIf="isVisible || text">
      <h2 class="animate-text" *ngIf="rotateLeft" @rotateLeft>rotateLeft</h2>
      <h2 class="animate-text" *ngIf="rotateRight" @rotateRight>rotateRight</h2>
      <h2 class="animate-text" *ngIf="rotateLeftRight" @rotateLeftRight>
        rotateLeftRight
      </h2>
      <h2 class="animate-text" *ngIf="rotateRightLeft" @rotateRightLeft>
        rotateRightLeft
      </h2>
      <h2 class="animate-text" *ngIf="rotateLarge" @rotateLarge>rotateLarge</h2>
      <h2 class="animate-text" *ngIf="rotateLargeSlow" @rotateLargeSlow>
        rotateLargeSlow
      </h2>
      <h2 class="animate-text" *ngIf="rotateLeftZoom" @rotateLeftZoom>
        rotateLeftZoom
      </h2>
      <h2 class="animate-text" *ngIf="rotateRightZoom" @rotateRightZoom>
        rotateRightZoom
      </h2>
      <h2 class="animate-text" *ngIf="rotateLeftRightZoom" @rotateLeftRightZoom>
        rotateLeftRightZoom
      </h2>
      <h2 class="animate-text" *ngIf="rotateRightLeftZoom" @rotateRightLeftZoom>
        rotateRightLeftZoom
      </h2>
    </ng-container>
  </div>
  <mat-slide-toggle (click)="toggle()" [checked]="checked">
    Toggle Animation
  </mat-slide-toggle>
  <div class="button-container">
    <button
      mat-raised-button
      color="primary"
      [class.selected]="anim === selectedAnim"
      (click)="animate(anim)"
      *ngFor="let anim of rotateAnims"
    >
      {{ anim }}
    </button>
  </div>
</div>
