<div class="zoom-wrapper">
  <div class="animation-container">
    <ng-container *ngIf="isVisible || text">
      <h2 class="animate-text" *ngIf="zoomFwd" @zoomFwd>zoomFwd</h2>
      <h2 class="animate-text" *ngIf="zoomUp" @zoomUp>zoomUp</h2>
      <h2 class="animate-text" *ngIf="zoomDown" @zoomDown>zoomDown</h2>
      <h2 class="animate-text" *ngIf="zoomLeft" @zoomLeft>zoomLeft</h2>
      <h2 class="animate-text" *ngIf="zoomRight" @zoomRight>zoomRight</h2>
      <h2 class="animate-text" *ngIf="zoomFade" @zoomFade>zoomFade</h2>
      <h2 class="animate-text" *ngIf="zoomFadeUp" @zoomFadeUp>zoomFadeUp</h2>
      <h2 class="animate-text" *ngIf="zoomFadeDown" @zoomFadeDown>
        zoomFadeDown
      </h2>
      <h2 class="animate-text" *ngIf="zoomFadeLeft" @zoomFadeLeft>
        zoomFadeLeft
      </h2>
      <h2 class="animate-text" *ngIf="zoomFadeRight" @zoomFadeRight>
        zoomFadeRight
      </h2>
      <h2 class="animate-text" *ngIf="zoomBack" @zoomBack>
        zoomBack
      </h2>
      <h2 class="animate-text" *ngIf="zoomFwdBack" @zoomFwdBack>
        zoomFwdBack
      </h2>
      <h2 class="animate-text" *ngIf="zoomBackFwd" @zoomBackFwd>
        zoomBackFwd
      </h2>
    </ng-container>
  </div>
  <mat-slide-toggle (click)="toggle()" [checked]="checked">
    Toggle Animation
  </mat-slide-toggle>
  <div class="button-container">
    <button
      mat-raised-button
      color="primary"
      [class.selected]="anim === selectedAnim"
      (click)="animate(anim)"
      *ngFor="let anim of zoomAnims"
    >
      {{ anim }}
    </button>
  </div>
</div>
