<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened">
    <mat-list>
      <mat-list-item>
        <a routerLink="">Home</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="color-transition">Color Transition</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-icon-button (click)="!(opened = !opened)">
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
