<mat-sidenav-container>
  <mat-sidenav mode="side" #sidenav>
    <mat-list>
      <!-- <mat-list-item>
        <a routerLink="">Home</a>
      </mat-list-item> -->
      <mat-list-item>
        <a routerLink="fade">Fade</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="color-transition">List Stagger</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="zoom">Zoom</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="slide">Slide</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="attention-seekers">Attention Seekers</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="fade-player">Fade Player</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div [@slideInAnimation]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
