mat-sidenav-container {
    height: 100vh;
      background-color: #fdf9f9;
  }
  
mat-sidenav, mat-sidenav-content {
    padding: 16px;
  }
  
mat-sidenav {
  background-color: #fcf5f5;
  width: 200px;
  }
  
.side-nav-links {
    display: flex;
    flex-direction: column;
  }

a {
    text-decoration: none;
    color: black;
    height: 0;
}

.active-list-item {
  color: #ee0c0c
}