<div class="bounce-wrapper">
  <div class="animation-container">
    <ng-container *ngIf="isVisible">
      <h2 class="animate-text" *ngIf="bounce" @bounce>bounce</h2>
      <!-- <h2 class="animate-text" *ngIf="bounceIn" @bounceIp>bounceIn</h2> -->
      <div @fadeTry>
        <h3>HIHIHI</h3>
      </div>
    </ng-container>
  </div>
  <mat-slide-toggle (click)="toggle()" [checked]="checked">
    Toggle Animation
  </mat-slide-toggle>
  <div
    class="hover"
    [@hoverTest]="isActive ? 'active' : 'idle'"
    (mouseenter)="isActive = true"
    (mouseleave)="isActive = false"
  >
    Hover
  </div>
  <div class="button-container">
    <button
      mat-raised-button
      color="primary"
      [class.selected]="anim === selectedAnim"
      (click)="animate(anim)"
      *ngFor="let anim of bounceAnims"
    >
      {{ anim }}
    </button>
  </div>
</div>
