<div class="fade-wrapper">
  <div class="animation-container">
    <ng-container>
      <h2
        class="animate-text"
        *ngIf="state === 'fade'"
        @fade
        (@fade.done)="displayNextAnimation($event)"
      >
        fade
      </h2>
      <h2
        *ngIf="state === 'fadeUp'"
        class="animate-text"
        @fadeUp
        (@fadeUp.done)="displayNextAnimation()"
      >
        fadeUp
      </h2>
      <h2
        class="animate-text"
        *ngIf="state === 'fadeDown'"
        @fadeDown
        (@fadeDown.done)="displayNextAnimation()"
      >
        fadeDown
      </h2>
      <h2
        *ngIf="state === 'fadeLeft'"
        class="animate-text"
        @fadeLeft
        (@fadeLeft.done)="displayNextAnimation()"
      >
        fadeLeft
      </h2>
      <h2
        *ngIf="state === 'fadeRight'"
        class="animate-text"
        @fadeRight
        (@fadeRight.done)="displayNextAnimation()"
      >
        fadeRight
      </h2>
    </ng-container>
  </div>
  <mat-slide-toggle (click)="toggle()" [checked]="checked">
    Toggle Animation
  </mat-slide-toggle>
  <div class="button-container">
    <button
      mat-raised-button
      color="primary"
      (click)="prepareNextAnimation(anim)"
      *ngFor="let anim of fadeAnims"
    >
      {{ anim }}
    </button>
  </div>
</div>
