<div classname="fade-wrapper">
  <button mat-button (click)="toggle()">Toggle Visible</button>
  <ng-container *ngIf="isVisible">
    <!-- <p @fade>FADE</p> -->
    <p @fadeUp>FADE UP</p>
    <p @fadeDown>FADE DOWN</p>
    <p @fadeLeft>FADE LEFT</p>
    <p @fadeRight>FADE RIGHT</p>
    <p @rollInLeft>Roll In Left</p>
    <p @rollInRight>Roll In Right</p>
    <h1 @flipInX>Flip In</h1>
    <h1 @flipInY>Flip In</h1>
    <!-- <p @flipOut>Flip Out</p> -->
  </ng-container>
</div>

<div>
  <!-- This is how you use the directive -->
  <p>Hello World</p>
</div>
