<div class="flip-wrapper">
  <div class="animation-container">
    <ng-container *ngIf="isVisible">
      <h2 class="animate-text" *ngIf="flipX" @flipX>flipX</h2>
      <!-- <h2 class="animate-text" *ngIf="flipY" @flipY>flipY</h2> -->
    </ng-container>
  </div>
  <mat-slide-toggle (click)="toggle()" [checked]="checked">
    Toggle Animation
  </mat-slide-toggle>
  <div class="button-container">
    <button
      mat-raised-button
      color="primary"
      [class.selected]="anim === selectedAnim"
      (click)="animate(anim)"
      *ngFor="let anim of flipAnims"
    >
      {{ anim }}
    </button>
  </div>
</div>
