<div class="attention-wrapper">
  <div class="animation-container">
    <ng-container *ngIf="isVisible">
      <h2 class="animate-text roll" *ngIf="rollLeft" @rollLeft>
        rollLeft
      </h2>
      <h2 class="animate-text" *ngIf="rollRight" @rollRight>rollRight</h2>
      <h2 class="animate-text" *ngIf="lightSpeedRight" @lightSpeedRight>
        lightSpeedRight
      </h2>
      <h2 class="animate-text" *ngIf="lightSpeedLeft" @lightSpeedLeft>
        lightSpeedLeft
      </h2>
      <h2 class="animate-text" *ngIf="flash" @flash>flash</h2>
      <h2 class="animate-text" *ngIf="pulse" @pulse>pulse</h2>
      <h2 class="animate-text" *ngIf="vibrate" @vibrate>vibrate</h2>
      <h2 class="animate-text" *ngIf="flicker" @flicker>flicker</h2>
      <h2 class="animate-text" *ngIf="jelloX" @jelloX>jelloX</h2>
      <h2 class="animate-text" *ngIf="jelloY" @jelloY>jelloY</h2>
    </ng-container>
  </div>
  <mat-slide-toggle (click)="toggle()" [checked]="checked">
    Toggle Animation
  </mat-slide-toggle>
  <div class="button-container">
    <button
      mat-raised-button
      color="primary"
      [class.selected]="anim === selectedAnim"
      (click)="animate(anim)"
      *ngFor="let anim of attentionAnims"
    >
      {{ anim }}
    </button>
  </div>
</div>
