<div class="hover-wrapper">
  <div class="animation-container">
    <h3
      class="animate-text"
      [@hGrow]="grow ? 'active' : 'idle'"
      (mouseenter)="grow = true"
      (mouseleave)="grow = false"
    >
      grow
    </h3>
    <h3
      class="animate-text"
      [@hGrowSlow]="growSlow ? 'active' : 'idle'"
      (mouseenter)="growSlow = true"
      (mouseleave)="growSlow = false"
    >
      growSlow
    </h3>
    <h3
      class="animate-text"
      [@hGrowQuick]="growQuick ? 'active' : 'idle'"
      (mouseenter)="growQuick = true"
      (mouseleave)="growQuick = false"
    >
      growQuick
    </h3>
    <h3
      class="animate-text"
      [@hShrink]="shrink ? 'active' : 'idle'"
      (mouseenter)="shrink = true"
      (mouseleave)="shrink = false"
    >
      shrink
    </h3>
    <h3
      class="animate-text"
      [@hShrinkSlow]="shrinkSlow ? 'active' : 'idle'"
      (mouseenter)="shrinkSlow = true"
      (mouseleave)="shrinkSlow = false"
    >
      shrinkSlow
    </h3>
    <h3
      class="animate-text"
      [@hShrinkQuick]="shrinkQuick ? 'active' : 'idle'"
      (mouseenter)="shrinkQuick = true"
      (mouseleave)="shrinkQuick = false"
    >
      shrinkQuick
    </h3>
    <h3
      class="animate-text"
      [@hRotate]="rotate ? 'active' : 'idle'"
      (mouseenter)="rotate = true"
      (mouseleave)="rotate = false"
    >
      rotate
    </h3>
    <h3
      class="animate-text"
      [@hDown]="down ? 'active' : 'idle'"
      (mouseenter)="down = true"
      (mouseleave)="down = false"
    >
      down
    </h3>
    <h3
      class="animate-text"
      [@hUp]="up ? 'active' : 'idle'"
      (mouseenter)="up = true"
      (mouseleave)="up = false"
    >
      up
    </h3>
    <h3
      class="animate-text"
      [@hLeft]="left ? 'active' : 'idle'"
      (mouseenter)="left = true"
      (mouseleave)="left = false"
    >
      left
    </h3>
    <h3
      class="animate-text"
      [@hRight]="right ? 'active' : 'idle'"
      (mouseenter)="right = true"
      (mouseleave)="right = false"
    >
      right
    </h3>
    <h3
      class="animate-text"
      [@hSkewRight]="skewRight ? 'active' : 'idle'"
      (mouseenter)="skewRight = true"
      (mouseleave)="skewRight = false"
    >
      skewRight
    </h3>
    <h3
      class="animate-text"
      [@hSkewLeft]="skewLeft ? 'active' : 'idle'"
      (mouseenter)="skewLeft = true"
      (mouseleave)="skewLeft = false"
    >
      skewLeft
    </h3>
    <h3
      class="animate-text"
      [@hBorderFade]="borderFade ? 'active' : 'idle'"
      (mouseenter)="borderFade = true"
      (mouseleave)="borderFade = false"
    >
      borderFade
    </h3>
    <h3
      class="animate-text"
      [@hBounceUp]="bounce ? 'active' : 'idle'"
      (mouseenter)="bounce = true"
      (mouseleave)="bounce = false"
    >
      bounceUp
    </h3>
    <h3
      class="animate-text"
      [@hBounceFwd]="bounceFwd ? 'active' : 'idle'"
      (mouseenter)="bounceFwd = true"
      (mouseleave)="bounceFwd = false"
    >
      bounceFwd
    </h3>
    <h3
      class="animate-text"
      [@hBounceBck]="bounceBck ? 'active' : 'idle'"
      (mouseenter)="bounceBck = true"
      (mouseleave)="bounceBck = false"
    >
      bounceBck
    </h3>
    <h3
      class="animate-text"
      [@hPush]="push ? 'active' : 'idle'"
      (mouseenter)="push = true"
      (mouseleave)="push = false"
    >
      push
    </h3>
    <h3
      class="animate-text"
      [@hPop]="pop ? 'active' : 'idle'"
      (mouseenter)="pop = true"
      (mouseleave)="pop = false"
    >
      pop
    </h3>
  </div>
</div>
