<div class="hover-wrapper">
  <div class="animation-container">
    <h3
      class="animate-text"
      [@hGrow]="grow"
      (mouseenter)="grow = true"
      (mouseleave)="grow = false"
    >
      grow
    </h3>
    <h3
      class="animate-text"
      [@hGrowSlow]="growSlow"
      (mouseenter)="growSlow = true"
      (mouseleave)="growSlow = false"
    >
      growSlow
    </h3>
    <h3
      class="animate-text"
      [@hGrowQuick]="growQuick"
      (mouseenter)="growQuick = true"
      (mouseleave)="growQuick = false"
    >
      growQuick
    </h3>
    <h3
      class="animate-text"
      [@hShrink]="shrink"
      (mouseenter)="shrink = true"
      (mouseleave)="shrink = false"
    >
      shrink
    </h3>
    <h3
      class="animate-text"
      [@hShrinkSlow]="shrinkSlow"
      (mouseenter)="shrinkSlow = true"
      (mouseleave)="shrinkSlow = false"
    >
      shrinkSlow
    </h3>
    <h3
      class="animate-text"
      [@hShrinkQuick]="shrinkQuick"
      (mouseenter)="shrinkQuick = true"
      (mouseleave)="shrinkQuick = false"
    >
      shrinkQuick
    </h3>
    <h3
      class="animate-text"
      [@hRotate]="rotate"
      (mouseenter)="rotate = true"
      (mouseleave)="rotate = false"
    >
      rotate
    </h3>
    <h3
      class="animate-text"
      [@hDown]="down"
      (mouseenter)="down = true"
      (mouseleave)="down = false"
    >
      down
    </h3>
    <h3
      class="animate-text"
      [@hUp]="up"
      (mouseenter)="up = true"
      (mouseleave)="up = false"
    >
      up
    </h3>
    <h3
      class="animate-text"
      [@hLeft]="left"
      (mouseenter)="left = true"
      (mouseleave)="left = false"
    >
      left
    </h3>
    <h3
      class="animate-text"
      [@hRight]="right"
      (mouseenter)="right = true"
      (mouseleave)="right = false"
    >
      right
    </h3>
    <h3
      class="animate-text"
      [@hSkewRight]="skewRight"
      (mouseenter)="skewRight = true"
      (mouseleave)="skewRight = false"
    >
      skewRight
    </h3>
    <h3
      class="animate-text"
      [@hSkewLeft]="skewLeft"
      (mouseenter)="skewLeft = true"
      (mouseleave)="skewLeft = false"
    >
      skewLeft
    </h3>
    <h3
      class="animate-text"
      [@hBounceUp]="bounce"
      (mouseenter)="bounce = true"
      (mouseleave)="bounce = false"
    >
      bounceUp
    </h3>
    <h3
      class="animate-text"
      [@hBounceFwd]="bounceFwd"
      (mouseenter)="bounceFwd = true"
      (mouseleave)="bounceFwd = false"
    >
      bounceFwd
    </h3>
    <h3
      class="animate-text"
      [@hBounceBck]="bounceBck"
      (mouseenter)="bounceBck = true"
      (mouseleave)="bounceBck = false"
    >
      bounceBck
    </h3>
    <h3
      class="animate-text"
      [@hPush]="push"
      (mouseenter)="push = true"
      (mouseleave)="push = false"
    >
      push
    </h3>
    <h3
      class="animate-text"
      [@hPop]="pop"
      (mouseenter)="pop = true"
      (mouseleave)="pop = false"
    >
      pop
    </h3>
  </div>
</div>
