<div class="slide-wrapper">
  <div class="animation-container">
    <ng-container *ngIf="isVisible">
      <h2 class="animate-text" *ngIf="slideUp" @slideUp>slideUp</h2>
      <h2 class="animate-text" *ngIf="slideDown" @slideDown>slideDown</h2>
      <h2 class="animate-text" *ngIf="slideLeft" @slideLeft>slideLeft</h2>
      <h2 class="animate-text" *ngIf="slideRight" @slideRight>slideRight</h2>
    </ng-container>
  </div>
  <mat-slide-toggle (click)="toggle()" [checked]="checked">
    Toggle Animation
  </mat-slide-toggle>
  <div class="button-container">
    <button
      mat-raised-button
      color="primary"
      [class.selected]="anim === selectedAnim"
      (click)="animate(anim)"
      *ngFor="let anim of slideAnims"
    >
      {{ anim }}
    </button>
  </div>
</div>
