<!-- <svg
  width="100"
  height="100"
  viewBox="0 0 24 24"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <g id="Frame">
    <path
      class="play"
      (click)="clickEvent()"
      [ngClass]="play ? 'play-appear' : 'play-disappear'"
      d="M8 5V19L19 12L8 5Z"
      fill="black"
    />
    <path
      class="pause"
      (click)="clickEvent()"
      [ngClass]="play ? 'pause-disappear' : 'pause-appear'"
      d="M6 19H10V5H6V19ZM14 5V19H18V5H14Z"
      fill="black"
    />
  </g>
</svg> -->

<!-- <div>

    <svg
      @check
      width="200"
      height="200"
      viewBox="0 0 200 200"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M35 100L79 144" stroke="black" stroke-width="17" />
      <path d="M67 144L166 47" stroke="black" stroke-width="17" />
    </svg>

</div> -->
<button (click)="toggle()">Toggle</button>
<div>
  <ng-container *ngIf="isVisible">
    <svg
      width="100"
      height="100"
      viewBox="0 0 200 200"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        @check
        class="check-path"
        d="M34 100L74 140L167 47"
        stroke="#3f51b5"
        stroke-width="17"
      />
    </svg>
  </ng-container>
</div>
